@import "tailwindcss";

:root {
  --background: #f9fafb;
  --txt-primary: #111827;
  --txt-secondary: #6b7280;
  --primary: #4f46e5;
  --secondary: #22c55e;
  --border: #e5e7eb;
  --card: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-txt-primary: var(--txt-primary);
  --color-txt-secondary: var(--txt-secondary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-card: var(--card);

  --font-poppins: var(--font-poppins);
  --font-sans: var(--font-dm-sans);
  --font-source: var(--font-source-code);
  --font-lligat: var(--font-port-lligat-sans);
}

@layer components {
  /* nav-link = tu kit de estilos para enlaces del navbar  */
  .nav-link {
    @apply transition-colors
          duration-0
          hover:text-txt-secondary      /* color al pasar el mouse */
          decoration-2
          hover:underline
          underline-offset-8;
  }

  .nav-link-active {
    @apply underline decoration-2 decoration-primary underline-offset-8;
  }

  .btn-regular {
    @apply bg-primary text-background py-2 px-5 rounded-2xl 
      hover:bg-primary/80 transition-colors duration-200 
      shadow-md shadow-primary/40;
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --txt-primary: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--txt-primary);
  font-family: var(--font-dm-sans);
}
